NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# These environment variables are used for Supabase Local Dev
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlkb3FwYWJkdmJ2bmFid3htb2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDExMTYzMjUsImV4cCI6MjA1NjY5MjMyNX0.LA3VUhm7kNef8_5p9vGGoABqskvLCOmUkdeNH0GxT-s"
NEXT_PUBLIC_SUPABASE_URL="https://ydoqpabdvbvnabwxmoky.supabase.co"
SUPABASE_SERVICE_ROLE_KEY=

# Get these from Stripe dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
